@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: "Major Mono Display", "Open Sans", sans-serif;
  color: whitesmoke;
  max-width: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.ToolBar {
  top: 0;
  left: 0;
  display: block;
  height: 64px;
  width: 100vw;
  background-color: black;
}

.ToolBar ul {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.ToolBar ul li {
  list-style: none;
  margin: 5px;
  padding-right: 10px;
}

.ToolBar ul li a {
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  transition: color ease-out 0.25s, text-shadow ease-out 0.25s, font-size ease-out 0.25s;
  cursor: pointer;
}

.ToolBar ul li a:hover {
  font-size: 32px;
  font-weight: bold;
  text-shadow: 2px -2px greenyellow, -2px 2px red;
  /*color: black;*/
  transition: color ease-out 0.25s, text-shadow ease-out 0.25s, font-size ease-out 0.25s;
}

.ToolBar ul li a p {
  padding: 0;
  margin: 0;
}

.ToolBar ul li:last-child {
  margin-left: auto;
  padding-right: 0px;
}

.ToolBar ul li a.Active {
  font-size: 40px;
  transition: color ease-out 0.25s, text-shadow ease-out 0.25s, font-size ease-out 0.25s;
}

.Error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register {
  padding-top: 100px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register * {
  margin: 0;
  padding: 0;
  width: 500px;
}

.register input {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:black;
  font-size: 32px;
}

button {
  padding: 10px;
  color:black;
  font-size: 32px;
}

.profile {
  margin: 100px;
}

.home {
  display: flex;
  flex-direction: row;
  margin: 100px;
  align-items: center;
  justify-content: center;
}

.home .inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home h1 {
  font-size: 64px;
}

.home img {
  margin: 100px;
  width: 400px;
  height: 400px;
  cursor: pointer;
}

.bull {
  filter: invert(65%) sepia(78%) saturate(395%) hue-rotate(41deg) brightness(116%) contrast(105%);
}

.bear {
  filter: invert(13%) sepia(95%) saturate(6706%) hue-rotate(0deg) brightness(99%) contrast(113%);
}

.stockpage {
  margin: 100px;
  overflow: hidden;
}

.stockpage h1 {
  font-size: 64px;
}

.stockpage h2 {
  font-size: 32px;
}

.stockpage p {
  font-size: 24px;
}

.stockdisplay {
  width: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}

.commentBox {
  resize: none;
  color: black;
  font-size: 16px;
  width: 500px;
  height: 100px;
}

.stock {
  margin: 60px;
}

.stock h1 {
  font-size: 128px;  
  height: 80px;
}

.stock h2 {
  font-size: 32px; 
}

.stock .score {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  top: -80px;
}

.stock .update {
  display: flex;
  flex-direction: column;
}

.stock button {
  font-size: 16px;
}

.stock .update button {
  width: 100px;
}